<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Semester 1')">Semester 1</button>
  <button class="tablinks" onclick="openTab(event, 'Semester 2')">Semester 2</button>
  <button class="tablinks" onclick="openTab(event, 'Special Term / Others')">Special Term / Others</button>
</div>

<!-- Tab content -->
<div id="Semester 1" class="tabcontent">
  {% for course in site.data.modules.Sem1 %}
    <details>
      <summary>
        <b>{{ course[0] }}: {{ course[1].title }}</b>
        <p><b>Grade: {{ course[1].grade }}</b> &emsp; Credits: {{ course[1].credit }}</p>
      </summary>
      <p>{{ course[1].description }}</p>
    </details>
  {% endfor %}
</div>

<div id="Semester 2" class="tabcontent">
  {% for course in site.data.modules.Sem2 %}
    <details>
      <summary>
        <b>{{ course[0] }}: {{ course[1].title }}</b>
        <p><b>Grade: {{ course[1].grade }}</b> &emsp; Credits: {{ course[1].credit }}</p>
      </summary>
      <p>{{ course[1].description }}</p>
    </details>
  {% endfor %}
</div>

<div id="Special Term / Others" class="tabcontent">
  {% for course in site.data.modules.year1st %}
    <details>
      <summary>
        <b>{{ course[0] }}: {{ course[1].title }}</b>
        {% if course[0] == "EG1311" %}
          <p><i>Done as Advanced Placement Credits (APC)</i></p>
        {% endif %}
        <p><b>Grade: {{ course[1].grade }}</b> &emsp; Credits: {{ course[1].credit }}</p>
      </summary>
      <p>{{ course[1].description }}</p>
    </details>
  {% endfor %}
  <details>
    <summary>
      <b>PV1x: Solar Energy: Photovoltaic (PV) Energy Conversion</b>
      <p><i>Done as Design your Own Module (DYOM)</i></p>
      <p><b>Grade: CS</b> &emsp; Credits: 5 &emsp;<a href="https://courses.edx.org/certificates/8ec3c2b8e37a41aea3c3240abd798e1e">Certificate</a></p>
    </summary>
    <p>The key factor in getting more efficient and cheaper solar energy panels is the advance in the development of photovoltaic cells. In this course, you will learn how photovoltaic cells convert solar energy into usable electricity. You will also discover how to tackle potential loss mechanisms in solar cells. By understanding the semiconductor physics and optics involved, you will develop in-depth knowledge of how a photovoltaic cell works under different conditions. You will learn how to model all aspects of a working solar cell. For engineers and scientists working in the photovoltaic industry, this course is an absolute must to understand the opportunities for solar cell innovation.</p>
  </details>

  <details>
    <summary>
      <b>PV2x: Solar Energy: Photovoltaic (PV) Technologies</b>
      <p><i>Done as Design your Own Module (DYOM)</i></p>
      <p><b>Grade: CS</b> &emsp; Credits: 3 &emsp;<a href="https://courses.edx.org/certificates/49b58a1d11fd41a8a8e2b7e244658cc6">Certificate</a></p>
    </summary>
    <p>The technologies used to produce solar cells and photovoltaic modules are advancing to deliver highly efficient and flexible solar panels. In this course you will explore the main PV technologies in the current market. You will gain in-depth knowledge about crystalline silicon based solar cells (90% market share) as well as other up and coming technologies like CdTe, CIGS and Perovskites. This course provides answers to the questions: How are solar cells made from raw materials? Which technologies have the potential to be the major players for different applications in the future? What different techniques are used for the processing and characterization of the various PV technologies?</p>
  </details>
</div>

<style>
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

.module .p{
  padding-top:1px;
  padding-bottom:1px;
}
</style> 

<script>
function openTab(evt, tabname) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabname).style.display = "block";
  evt.currentTarget.className += " active";
}


